
.main-bod, .one{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.heads{
  padding-top: 10%;
  text-align: center;
}

.centers{
  color: white;
  background-color: black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
}
.bods{
  background-color: red;
}

#btn{
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
  padding: 12px 28px;
}